.squareContainer {
	position: relative;
	height: 0;
	width: min(100vw, 80vh);
	padding-bottom: min(100vw, 80vh);
	border: solid 1px black;
}
#grid {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.aCellRow {
	width: 100%;
}
.aCell {
	border: 1px solid white;
	height: 100%;
	margin: -1px;
}
